.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
.DS_Store
FredSM.dne
CAF.svg
CAF.png
*~
HeartNet.neta
miniACED1
miniACEDPM.dne
\#*
.#*
_site
CommonRatioEasyEM.dne
CommonRatioHardEM.dne
CommonRatioMedEM.dne
ExamplesEasyEM.dne
ExamplesHardEM.dne
ExamplesMedEM.dne
ExtendEasyEM.dne
ExtendHardEM.dne
ExtendMedEM.dne
ModelTableExtendEasyEM.dne
ModelTableExtendHardEM.dne
ModelTableExtendMedEM.dne
TableExtendEasyEM.dne
TableExtendHardEM.dne
TableExtendMedEM.dne

**/*.quarto_ipynb
